  /* BODY */

  #wrap {
    min-height: 100%;
    height: auto;
  }

  .neogreen {
  padding-bottom: 0.5em;
  background-color: #00CC99!important;
  }

  .row {
    margin-bottom: 5em;
  }

  /* FONT */

  h1 {
    color: #00CC99;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    font-weight: bolder;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    border-top: 5px solid #909090;
    border-bottom: 5px solid #909090;
  }

  #psd {
    text-align: center;
  }

  h2 {
    color: #00CC99;
    padding-bottom: 5%;
    text-align: center;
    letter-spacing: 0.2em;
  }

  h3 {
    color: #999999;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: bold;
  }

  #date-venue{
    color: #393939;
  }

  p, td, ul {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 1.7em;
  }

  /* SPACING */

  .publishing-content {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }


  .break {
    padding: 10%;
  }

  hr {
    width: 100%;
    height: 0.2em;
    background: #800000;
  }

  /* CONTACT */

  #copyright {
    font-size: 60%;
    color: #666666;
    text-align: center;
  }

  #logo {
    text-align: center;
  }

  #logo img {
    width: 50%;
  }

  /* NAV */

  nav.navbar.navbar-inverse.navbar-fixed-bottom {
    background-color: #00CC99;
    border-width: 0px;
    border-radius: 0px;
    padding-left: 5%;
  }

  nav.navbar.navbar-inverse.navbar-fixed-bottom a {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.3em;
  }

  /* IMG */

  .col-md-5 img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }

  .publishing-content img {
    padding-top: 5%;
    width: 20em;
  }

  #poster, #poster-thumbnail {
    text-align: center;
  }

  #poster img{
    width: 30em;
  }

  #video {
    text-align: center;
  }

  figcaption {
    font-style: italic;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
  }

  /* LIST */

  .publishing-content ul {
    list-style-type: none;
    padding: 0;
  }

  /* TABLE */

  table {
    margin-bottom: 5%;
    margin-left: 5%;
  }

  td {
    vertical-align: top;
    padding-bottom: 0.7em;
  }

  #td-center {
    text-align: center;
    padding: 2em;
  }

  /* BLOG */

  .tumblr-title {
    font-size: 120%;
    letter-spacing: 0.5em;
    text-decoration: underline;
    margin-bottom: 5%;
  }

  .tumblr-date {
    font-style: italic;
    font-size: 80%;
    margin-bottom: 10%;
  }

  .tumblr-text-post {
    font-size: 80%;
    margin-bottom: 10%;
  }

  /* FB */
  #facebook {
    text-align: center;
    padding-bottom: 5%;
  }

  /* HOVER elements */

  a {
    color: #00cc99;
  }

  a:hover, a:active, a:focus {
    color: #00cc99;
    text-transform: lowercase;
  }
  
  #contact {
    text-align: center;
  }

  /* DONATIONS */

  #form {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
  }

  /* MAILCHIMP FORM */

  #mc_embed_signup {
    padding-left: 5%;
  }

  .mc-field-group {
    padding-top: 1em;
  }

  #mailchimp {
    background-color: #f0f3f5;
    border-radius: 0.3em;
    padding-top: 2%;
  }