  h1 {
    letter-spacing: 0.2em;
    font-size: 200%;
    margin: 3%;
    color: #425e70;
    text-align: left;
  }

  h2 {
    color: #00CC99;
    text-align: center;
    letter-spacing: 0.3em;
  }

  p, td, ul {
    font-size: 1.3em;
    line-height: 1em;
    margin-bottom: 2em;
  }

  hr {
    width: 80%;
    height: 0.2em;
    background: #333333;
  }

  #wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -250px;
  }

  /* FOOTER */

  .footer {
    margin-top: 100px;
    height: 250px;
    padding-top: 5%;
    background-color: #FFFFFF;
  }

  .footer div.col-md-12 p { 
    text-align: center;
    letter-spacing: 0.3em;
  }

  .footer div.col-md-12 img {
    width: 325px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #copyright {
    font-size: 60%;
    color: #666666;
  }

  /* JUMBOTRON */

  .jumbotron {
    color: #FFFFFF;
    text-align: center;
    background-image: url("https://www.mediafire.com/convkey/f339/ewoj0p75tk7wx2f6g.jpg");
    background-size: cover;
  }

  /* MENU */

  .menu {
    background-color: #00CC99;
    list-style-type: none;
    padding-top: 3em;
    padding-bottom: 3em;
    margin: 3em;
  }

  .menu a, .menu li a:hover {
    color: #FFFFFF;
    font-size: 1.3em;
    letter-spacing: 0.2em;
  }

  .menu li {
    margin-bottom: 2em;
  }

  /* CONTENT */

  .col-md-5 img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }

  .publishing-content {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .publishing-content img {
    width: 20em;
  }

  figcaption {
    font-style: italic;
    text-align: center;

  }

  .publishing-content ul {
    list-style-type: none;
    padding: 0;
  }

  #Eventbrite {
    padding-left:10%;
    padding-right:10%;
  }

  table {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  td {
    vertical-align: top;
    padding-bottom: 0.7em;
  }

  /* BLOG */

  .tumblr-title {
    font-size: 120%;
    letter-spacing: 0.5em;
    text-decoration: underline;
    margin-bottom: 5%;
  }

  .tumblr-date {
    font-style: italic;
    font-size: 80%;
    margin-bottom: 10%;
  }

  .tumblr-text-post {
    font-size: 80%;
    margin-bottom: 10%;
  }

  /* HOVER elements */
  .footer a {
    color: #425e70;
  }

  .footer a:hover, .footer a:active, .footer a:focus, ul a:hover, ul a:active, ul a:focus {
    color: #425e70;
    text-transform: lowercase;
  }

  /* DONATIONS */

  #form {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
  }